@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
 
/* CSS RESET END */

body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.xbox-logo {
  flex-grow: 3;
    margin-left: 40px;
    max-width: 150px;
}

.menu-button {
    display: flex;
    flex-direction: column;
}
.menu-line {
    background-color: black;
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    border-radius: 2px;
}
.cart {
    width: 20px;
    margin-right: 15px;
}

.user-icon {
    height: 35px;
    width: 35px;
    border-radius: 35px;
}

.cart-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.microsoft-logo {
  width: 100px;
  margin-right: 80%;
}

.hero {
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 550px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%,rgba(0,0,0,.5)55% , rgba(0,0,0,1) 80%);
}

.hero > img {
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    object-fit: cover;
    object-position: 40% 40%;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    min-height:130px;
}

.button {
    padding: 4px 20px;
    color: #054b16;
    font-weight: 900;
    background-color: #9bf00b;
    border: none;
}

.icon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 15px;
  gap: 20px;
  width: 90%;
  margin: auto;
}

.icon {
  color: #107c10;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
  justify-self: center;
}

.icon > img {
  padding: 5px 20px;
}

.card {
  position: relative;
  background-color: #107c10;
  margin: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}

.card-content {
  background-color: #333333;
  color: #fff;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 2em;
  align-items:start;
}

.alt-image-content {
  top: 40%;
  height: 60%;
  background-color: #107c10;
}

.card-content > a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

.card-content > p {
  font-size: 14px;
}

.yellow-banner {
  background-color: #ffd800;
  color: black;
  font-size: 13px;
  padding: 0 5px;
  letter-spacing: 1px;
}

.socials {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  width: 80vw;
}

.socials > li {
  list-style-type: none;
  min-width: 30px;
}

footer {
  background-color: rgb(242 242 242) ;
  width: 100vw;
  padding: 0 24px ;
  font-size: 11px;
  text-decoration: none;
    color: #616161;
}

footer > a {
  text-decoration: none;
  color: #616161;
}
.nav-section {

  display: flex;
  flex-direction: column;
}

.nav-section > h3 {
  font-size: 15px;
  padding-top: 36px;
  padding-bottom: 5px;
}

.nav-section > a {
  text-decoration: none;
  color: #616161;
  padding: 8px 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.footer-links > li > a {
  text-decoration: none;
  color: #616161;
  padding: 6px 10px 0 0;
}
 
footer > a {
  font-size: 11px;
  margin:  20px 0;
}

@media only screen and (min-width: 1000px) {
  
  .icon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    width: 70%;

  }
}